.container-about {
  height: 100vh;
  @include displayFlexCenter(start, flex-start);
  flex-direction: column;
  padding: 30px 0;
}

.about-title {
  padding-bottom: 90px;
  align-self: center;
  font-size: 28px;
}

.about-list {
  @include displayFlexCenter(space-between, start);
  flex-direction: column;
  height: 600px;

  &__item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;

    &__about-icon {
      width: 60px;
      height: 60px;
      background-color: $primary-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &-inner {
        position: relative;
        width: 40px;
        height: 40px;
        background-color: $react-color;
        border-radius: 50%;
        animation: shadow-pulse 2s infinite;
      }
    }

    .inner-string {
      width: 1px;
      height: 80px;
      position: absolute;
      left: 20px;
      top: 70px;
      background-color: #ffff;
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 90%;
      height: 100%;
      border-radius: 30px;
      padding: 10px 20px;
      background-color: $primary-color;
      &__text {
        color: #ffffff;
      }
    }
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0px 0px 40px 5px $react-color;
  }
  50% {
    box-shadow: 0px 0px 70px 5px $react-color;
  }
  100% {
    box-shadow: 0px 0px 40px 5px $react-color;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container-about {
    padding: 20px 0;
  }

  .about-list {
    height: 600px;

    &__item {
      gap: 12px;

      &__about-icon {
        width: 30px;
        height: 30px;

        &-inner {
          width: 20px;
          height: 20px;
        }
      }

      &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 90%;
        height: 100%;
        border-radius: 20px;
        padding: 5px 10px;
        background-color: $primary-color;
        &__text {
          color: #ffffff;
          font-size: 14px;
        }
      }
    }

    .inner-string {
      width: 1px;
      height: 80px;
      position: absolute;
      left: 10px;
      top: 40px;
      background-color: #ffff;
    }
  }
}
