.container-footer {
  @include displayFlexCenter();
  padding: 20px;
  margin-bottom: 20px;
  height: 120px;
  background-color: $primary-color;
  border-radius: 30px;
}

.footer-list {
  @include displayFlexCenter();
  gap: 12px;
  &__item {
    &__link {
      transition: 0.25s;
      &:hover {
        color: $react-color;
      }
    }
  }
}
