.header-wrap {
  @include displayFlexCenter(space-between);
  background-color: $primary-color;
  border-radius: 30px;
}

.header {
  padding: 20px 0;
  &__navigation__list {
    @include displayFlexCenter(space-around);

    width: 700px;
    height: 40px;
    border-radius: 30px;
    gap: 16px;
    &__item {
      &__link {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: $react-color;
          transition: 0.3s ease;
        }
        &::after {
          content: "";
          position: absolute;
          top: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: $react-color;
          transition: 0.3s ease;
        }
        &:hover {
          &::before {
            width: 100%;
          }
          &::after {
            width: 100%;
          }
        }
        &:focus {
          &::before {
            height: 4px;
          }
        }
      }
    }
  }
}

.block-cv {
  @include displayFlexCenter;
  width: 120px;
  height: 40px;
  &__link {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $react-color;
      transition: 0.3s ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $react-color;
      transition: 0.3s ease;
    }
    &:hover {
      &::before {
        width: 100%;
      }
      &::after {
        width: 100%;
      }
    }
    &:focus {
      &::before {
        height: 4px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .header-wrap {
    background-color: $primary-color;
    border-radius: 10px;
  }

  .header {
    padding: 0 0;
    &__navigation__list {
      @include displayFlexCenter(space-around);

      width: 100%;
      height: 40px;
      border-radius: 10px;
      gap: 8px;
      &__item {
        &__link {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: $react-color;
            transition: 0.3s ease;
          }
          &::after {
            content: "";
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: $react-color;
            transition: 0.3s ease;
          }
          &:hover {
            &::before {
              width: 100%;
            }
            &::after {
              width: 100%;
            }
          }
          &:focus {
            &::before {
              height: 4px;
            }
          }
        }
      }
    }
  }

  .block-cv {
    overflow: hidden;
    display: none;
  }
}
