.container-projects {
  @include displayFlexCenter(start, center);
  flex-direction: column;
  padding: 30px 0;
}

.projects-title {
  align-self: center;
  font-size: 28px;
  padding: 70px 0px;
}

.projects-list {
  width: 100%;
  &__item {
    @include displayFlexCenter(space-between);
    margin-bottom: 90px;

    &__link {
      &__img {
        opacity: 0.7;
        border-radius: 10px;
        transition: 0.25s;
        box-shadow: 3px 3px 0px 1px $react-color;
        &:hover {
          opacity: 1;
          box-shadow: 3px 3px 0px 2px $react-color;
        }
      }
    }
    &__wrap {
      @include displayFlexCenter(space-between, start);
      flex-direction: column;
      width: 700px;
      height: 500px;
      &__title {
        font-size: 42px;
        margin-bottom: 10px;
      }
      &__link {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        text-decoration: underline;
        &:hover {
          color: $react-color;
        }
      }
      &__subtitle {
        font-size: 22px;
        margin-bottom: 10px;
      }
      &__text {
        width: 700px;
        margin-bottom: 10px;
      }
      &__tool {
        @include displayFlexCenter(start);
        max-width: 700px;
        flex-wrap: wrap;
        gap: 12px;
        &__span {
          padding: 10px;
          border-radius: 10px;
          background-color: $react-color;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container-projects {
    padding: 20px 0;
  }

  .projects-list {
    width: 100%;
    &__item {
      @include displayFlexCenter(space-between);
      flex-direction: column;
      margin-bottom: 90px;

      &__link {
        &__img {
          width: 100%;
          height: 280px;
          opacity: 0.7;
          border-radius: 10px;
          transition: 0.25s;
          box-shadow: 3px 3px 0px 1px $react-color;
          margin: 10px 0;
        }
      }
      &__wrap {
        @include displayFlexCenter(space-between, start);
        flex-direction: column;
        width: 100%;
        height: 100%;
        &__title {
          font-size: 32px;
          margin-bottom: 10px;
        }
        &__link {
          font-size: 16px;
          font-weight: 600;
          color: #fff;
          text-decoration: underline;
          margin-bottom: 12px;
        }
        &__subtitle {
          font-size: 22px;
          margin-bottom: 10px;
        }
        &__text {
          width: 100%;
          margin-bottom: 10px;
        }
        &__tool {
          @include displayFlexCenter(start);
          max-width: 100%;
          flex-wrap: wrap;
          gap: 12px;
          &__span {
            padding: 10px;
            border-radius: 10px;
            background-color: $react-color;
          }
        }
      }
    }
  }
}
