.container-projects {
  height: 100vh;
  @include displayFlexCenter(start, center);
  flex-direction: column;
  padding: 30px 0;
}

.projects-title {
  align-self: center;
  font-size: 28px;
  padding: 70px 0px;
}

.projects-list {
  width: 100%;
  &__item {
    @include displayFlexCenter(space-between);
    &__wrap {
      &__title {
        font-size: 42px;
        margin-bottom: 20px;
      }
      &__subtitle {
        font-size: 22px;
        margin-bottom: 20px;
      }
      &__text {
        width: 500px;
        margin-bottom: 20px;
      }
    }
  }
}
