.container-projects {
  height: 100vh;
  @include displayFlexCenter(start, center);
  flex-direction: column;
  padding: 30px 0;
}

.projects-title {
  align-self: center;
  font-size: 28px;
}

.swiper {
  width: 1300px;
  height: 750px;

  --swiper-navigation-color: $primary-color;
}

.swiper-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  border-radius: 30px;
  width: 1000px;
  height: 700px;
  //   &__text {
  //   }
  //   &__img {
  //     width: 400px;
  //     height: 200px;
  //   }
}
