.container-skills {
  height: 300px;
  @include displayFlexCenter(start, center);
  flex-direction: column;
  padding: 30px 0;
}

.skills-title {
  padding-bottom: 90px;
  align-self: center;
  font-size: 28px;
}

.skills-list {
  @include displayFlexCenter;
  flex-wrap: wrap;
  gap: 8px;
  &__item {
    @include displayFlexCenter;
    padding: 5px 10px;
    height: 50px;
    border-radius: 10px;
    background-color: $primary-color;

    &__text {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container-skills {
    height: 400px;
    @include displayFlexCenter(start, center);
    flex-direction: column;
    padding: 30px 0;
  }
}
